<<<<<<< HEAD
<%= render "form"%>
=======
<form  method="post">
  <label for="fname">Codigo De Area :</label><br>
  <input type="text" placeholder="Codigo De Area "><br>
  <label for="lname">Nombre De Area :</label><br>
  <input type="text" placeholder="Nombre de Area"<br><br>
  <input type="submit" value="crear">
</form>
>>>>>>> 852fe336abf1f17da6d20fe042a51e1c5bbcb644
